{% extends "YOKO_Clinics/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block script %}{% if request.session.type == "patient" %}<script src="{% static 'YOKO_Clinics/index.js' %}"></script>{% else %}<script src="{% static 'YOKO_Clinics/home.js' %}"></script>{% endif %}{% endblock %}

{% block body %}
{% if request.session.type == "patient" %}

<div class="search_frame">
    <h2>Search for a doctor</h2>
    <br>
    <form action="{% url 'search' %}" class="search_form">
        <input type="hidden" value="1" name="page">
        <div class="country_city1">
            <div class="form-elements-container1">
                <div class="form-group" style="margin-right:0.5rem;">
                    <select class="form-select country form-control" name="country" autocomplete="off" id="country">
                        <option selected>Select Country</option>
                    </select>
                </div>
                <div class="form-group" style="margin-right:0.5rem;">
                    <select class="form-select state form-control" name="state" autocomplete="off" id="state">
                        <option selected disabled>Select State</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-select city form-control" name="city" autocomplete="off" id="city">
                        <option selected disabled>Select City</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group form-group1 form-group2">
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter doctor name." autocomplete="off">
            <div class="form-group form-group2 no_wrap">
                <input type="checkbox" name="star" class="star_checker" id="s1" autocomplete="off">
                <label for="s1" class="lil_star lil_star1" id="a1">★</label>
                <input type="checkbox" name="star" class="star_checker" id="s2" autocomplete="off">
                <label for="s2" class="lil_star lil_star2" id="a2">★</label>
                <input type="checkbox" name="star" class="star_checker" id="s3" autocomplete="off">
                <label for="s3" class="lil_star lil_star3" id="a3">★</label>
                <input type="checkbox" name="star" class="star_checker" id="s4" autocomplete="off">
                <label for="s4" class="lil_star lil_star4" id="a4">★</label>
                <input type="checkbox" name="star" class="star_checker" id="s5" autocomplete="off">
                <label for="s5" class="lil_star lil_star5" id="a5">★</label>
            </div>
        </div>
        <div class="form-group">
            <select class="form-select form-control" id="specialty" autocomplete="off">
                <option selected>Select Specialty</option>
            </select>
        </div>
        <div class="form-group form-group-wrap1" id="sub_specialties1">
            <div id="all_subs" style="display:none;">
                <input type="checkbox" name="specialties" class="sub_checker" id="all_sub" autocomplete="off">
                <label for="all_sub" class="toggle-control1">All Sub Specialties</label>
            </div>
        </div>
        <div class="submit_container">
            <input class="btn btn-primary" type="submit" value="Search" id="submit" name="submit">
        </div>
    </form>
        
</div>
{% else %}
<form action="{% url 'index' %}">
    <div class="sorting_div">
        <div class="form-group" style="margin-right:0.5rem;">
            <select class="form-select form-control" name="show" tabindex="-1">
                <option {% if sorting == -1 %}selected{% endif %}>All Appointments</option>
                <option {% if sorting == 0 %}selected{% endif %}>Upcoming Appointments</option>
                <option {% if sorting == 1 %}selected{% endif %}>Past Appointments</option>
            </select>
        </div>
        <div class="form-group" style="margin-right:0.5rem;">
            <select class="form-select form-control" name="order_by" tabindex="-1">
                <option {% if order == 0 %}selected{% endif %}>Earliest</option>
                <option {% if order == 1 %}selected{% endif %}>Latest</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Show" id="sort" style="height: calc(1.5em + 0.75rem + 2px);padding-left:1rem;padding-right:1rem;">
    </div>
</form>

<script>
    function hide(i){
        document.getElementById("beepo" + i).style.display = "none";
    }
</script>

<div id="error_div" class="error_div centered_error_div">
    
</div>

{% for booking in page_obj %}
    <div class="booking_frame" id="booking_frame{{ booking.id }}">
        <div class="booking_data">
            <div>
                <h2 id="patient_username{{ booking.id }}" style="font-family: 'Poppins_BoldItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"></h2>
                <script>
                    document.getElementById('patient_username{{ booking.id }}').textContent = "{{ booking.patient_username }}";
                </script>
            </div>
            <div id="address_div" class="address_div">
                <p id="start_date{{ booking.id }}date" class="date" style="margin-bottom:0rem;"></p>
                <p id="start_date{{ booking.id }}" class="dates" style="margin-bottom:0rem;"></p>
                <script>
                    document.getElementById('start_date{{ booking.id }}').textContent = "{{ booking.start_date }}";
                </script>
                <p id="end_date{{ booking.id }}" class="dates1" style="margin-bottom:0rem;"></p>
                <script>
                    document.getElementById('end_date{{ booking.id }}').textContent = "{{ booking.end_date }}";
                </script>
            </div>
        </div>
        <div class="address_div">
            <h2 style="font-family: 'Poppins_BoldItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Description</h2>
            <div id="desc_div">
                <p id="desc{{ booking.id }}"></p>
                <script>
                    document.getElementById('desc{{ booking.id }}').textContent = "{{ booking.description }}";
                </script>
            </div>
        </div>
        {% if booking.status == 'Booked' %}
        <div class="booking_btns">
            <button class="btn btn-primary cancel_appointment" id="cancel{{ booking.id }}">Cancel Appointment</button>
        </div>
        {% endif %}
    </div>
{% endfor %}

<div class="input_container" style="display:none;" id="input_container_reject">
    <div class="input_vacation_frame">
        <h4 style="margin-bottom: 1rem;">Are you sure you want to cancel this appointment?</h4>
        <div>
            <button class="btn btn-primary" id="final_yes">Yes</button>
            <button class="btn btn-primary" id="final_no">No</button>
        </div>
    </div>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <div class="left_links">
        <button class="btn btn-primary" onclick="page1()">&laquo; First</button>
        <button class="btn btn-primary" onclick="page2()">Previous</button>
    </div>
    {% endif %}

    {% if page_obj.has_next %}
    <div class="right_links">
        <button class="btn btn-primary" onclick="page3()">Next</button>
        <button class="btn btn-primary" onclick="page4()">Last &raquo;</button>
    </div>
    {% endif %}
    <script>
        {% if page_obj.has_previous %}
        function page1() {
            let currentUrl = window.location.href;
            let startIndex = currentUrl.indexOf('page=');
            let substringToReplace = "";
            let b = false;
            let s="";
            for(let i = 5 ; i < currentUrl.length ; i ++){
                if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                    b = true;
                    s+=currentUrl[i];
                }
                else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                    s+=currentUrl[i];
                }
                else if(b){
                    break;
                }
            }
            if(b){
                substringToReplace = 'page='+s;
                let newParameter = 'page=1';
                let newUrl = currentUrl.replace(substringToReplace, newParameter);
                window.location.href = newUrl;
            }
            else{
                if(currentUrl.indexOf('?') != -1){
                    window.location.href = currentUrl + "&page=1";
                }
                else{
                    window.location.href = currentUrl + "?page=1";
                }
            }
            console.log(b);
        }
        
        function page2() {
            let currentUrl = window.location.href;
            let startIndex = currentUrl.indexOf('page=');
            let substringToReplace = "";
            let b = false;
            let s="";
            for(let i = 5 ; i < currentUrl.length ; i ++){
                if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                    b = true;
                    s+=currentUrl[i];
                }
                else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                    s+=currentUrl[i];
                }
                else if(b){
                    break;
                }
            }
            if(b){
                substringToReplace = 'page='+s;
                let newParameter = 'page={{ page_obj.previous_page_number }}';
                let newUrl = currentUrl.replace(substringToReplace, newParameter);
                window.location.href = newUrl;
            }
            else{
                if(currentUrl.indexOf('?') != -1){
                    window.location.href = currentUrl + "&page={{ page_obj.previous_page_number }}";
                }
                else{
                    window.location.href = currentUrl + "?page={{ page_obj.previous_page_number }}";
                }
            }
        }
        {% endif %}
        
        {% if page_obj.has_next %}
        function page3() {
            let currentUrl = window.location.href;
            let startIndex = currentUrl.indexOf('page=');
            let substringToReplace = "";
            let b = false;
            let s="";
            for(let i = 5 ; i < currentUrl.length ; i ++){
                if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                    b = true;
                    s+=currentUrl[i];
                }
                else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                    s+=currentUrl[i];
                }
                else if(b){
                    break;
                }
            }
            if(b){
                substringToReplace = 'page='+s;
                let newParameter = 'page={{ page_obj.next_page_number }}';
                let newUrl = currentUrl.replace(substringToReplace, newParameter);
                window.location.href = newUrl;
            }
            else{
                if(currentUrl.indexOf('?') != -1){
                    window.location.href = currentUrl + "&page={{ page_obj.next_page_number }}";
                }
                else{
                    window.location.href = currentUrl + "?page={{ page_obj.next_page_number }}";
                }
            }
        }
        function page4() {
            let currentUrl = window.location.href;
            let startIndex = currentUrl.indexOf('page=');
            let substringToReplace = "";
            let b = false;
            let s="";
            for(let i = 5 ; i < currentUrl.length ; i ++){
                if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                    b = true;
                    s+=currentUrl[i];
                }
                else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                    s+=currentUrl[i];
                }
                else if(b){
                    break;
                }
            }
            if(b){
                substringToReplace = 'page='+s;
                let newParameter = 'page={{ page_obj.paginator.num_pages }}';
                let newUrl = currentUrl.replace(substringToReplace, newParameter);
                window.location.href = newUrl;
            }
            else{
                if(currentUrl.indexOf('?') != -1){
                    window.location.href = currentUrl + "&page={{ page_obj.paginator.num_pages }}";
                }
                else{
                    window.location.href = currentUrl + "?page={{ page_obj.paginator.num_pages }}";
                }
            }
        }
        {% endif %}
    </script>
</div>
{% endif %}
{% endblock %}