{% extends "YOKO_Clinics/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

{% for doc in page_obj %}
<a href="{% url 'profile' doc.id %}" class="no_link">
    <div class="profile_frame">
        <h3 id="target_username{{ doc.id }}"></h3>
        <script>
            document.getElementById('target_username{{ doc.id }}').textContent = "{{ doc.username }}";
        </script>
        <h5>{{ doc.rating }}</h5>
        <div class="rating" id="rating{{ doc.id }}">
            
        </div>
        <script>
            document.getElementById('rating{{ doc.id }}').style.width = Math.round(document.getElementById('rating{{ doc.id }}').clientWidth * ({{ doc.rating }} / 5)) + 'px';
        </script>
        <h5>Address</h5>
        <div id="address_div">
            <p id="country_display{{ doc.id }}"></p>
            <script>
                document.getElementById('country_display{{ doc.id }}').textContent = "{{ doc.country }}{% if doc.country != doc.state %}, {{ doc.state }}{% endif %}{% if doc.city != doc.state %}, {{ doc.city }}{% endif %}";
            </script>
            <p id="address_display{{ doc.id }}"></p>
            <script>
                document.getElementById('address_display{{ doc.id }}').textContent = "{{ doc.address }}";
            </script>
        </div>
        {% if doc.bio %}
        <h5>About</h5>
        <div id="bio_div">
            <p id="bio_display{{ doc.id }}"></p>
            <script>
                document.getElementById('bio_display{{ doc.id }}').textContent = "{{ doc.bio }}";
            </script>
        </div>
        {% endif %}
    </div>
</a>
{% endfor %}

<div class="pagination">
    {% if page_obj.has_previous %}
    <div class="left_links">
        <button class="btn btn-primary" onclick="page1()">&laquo; First</button>
        <button class="btn btn-primary" onclick="page2()">Previous</button>
    </div>
    {% endif %}

    {% if page_obj.has_next %}
    <div class="right_links">
        <button class="btn btn-primary" onclick="page3()">Next</button>
        <button class="btn btn-primary" onclick="page4()">Last &raquo;</button>
    </div>
    {% endif %}
</div>

<script>
    
    {% if page_obj.has_previous %}
    function page1() {
        let currentUrl = window.location.href;
        let startIndex = currentUrl.indexOf('page=');
        let substringToReplace = "";
        let b = false;
        let s="";
        for(let i = 5 ; i < currentUrl.length - 4 ; i ++){
            if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                b = true;
                s+=currentUrl[i];
            }
            else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                s+=currentUrl[i];
            }
            else if(b){
                break;
            }
        }
        substringToReplace = 'page='+s;
        let newParameter = 'page=1';
        let newUrl = currentUrl.replace(substringToReplace, newParameter);
        window.location.href = newUrl;
    }
    
    function page2() {
        let currentUrl = window.location.href;
        let startIndex = currentUrl.indexOf('page=');
        let substringToReplace = "";
        let b = false;
        let s="";
        for(let i = 5 ; i < currentUrl.length - 4 ; i ++){
            if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                b = true;
                s+=currentUrl[i];
            }
            else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                s+=currentUrl[i];
            }
            else if(b){
                break;
            }
        }
        substringToReplace = 'page='+s;
        let newParameter = 'page={{ page_obj.previous_page_number }}';
        let newUrl = currentUrl.replace(substringToReplace, newParameter);
        window.location.href = newUrl;
    }
    {% endif %}
    
    {% if page_obj.has_next %}
    function page3() {
        let currentUrl = window.location.href;
        let startIndex = currentUrl.indexOf('page=');
        let substringToReplace = "";
        let b = false;
        let s="";
        for(let i = 5 ; i < currentUrl.length - 4 ; i ++){
            if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                b = true;
                s+=currentUrl[i];
            }
            else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                s+=currentUrl[i];
            }
            else if(b){
                break;
            }
        }
        substringToReplace = 'page='+s;
        let newParameter = 'page={{ page_obj.next_page_number }}';
        let newUrl = currentUrl.replace(substringToReplace, newParameter);
        window.location.href = newUrl;
    }
    function page4() {
        let currentUrl = window.location.href;
        let startIndex = currentUrl.indexOf('page=');
        let substringToReplace = "";
        let b = false;
        let s="";
        for(let i = 5 ; i < currentUrl.length - 4 ; i ++){
            if(currentUrl[i - 5] == 'p' && currentUrl[i-4] == 'a' && currentUrl[i-3] == 'g' && currentUrl[i-2] == 'e' && currentUrl[i-1] == '='){
                b = true;
                s+=currentUrl[i];
            }
            else if(b && currentUrl[i] >= '0' && currentUrl[i] <= '9'){
                s+=currentUrl[i];
            }
            else if(b){
                break;
            }
        }
        substringToReplace = 'page='+s;
        let newParameter = 'page={{ page_obj.paginator.num_pages }}';
        let newUrl = currentUrl.replace(substringToReplace, newParameter);
        window.location.href = newUrl;
    }
    {% endif %}
</script>

{% endblock %}