{% extends "YOKO_Clinics/layout.html" %}

{% block title %}Vacations{% endblock %}

{% block body %}

<div id="calendar_container" class="calendar_container">
    <div class="calendar-month" id="calendar-month">
        <div id="calendar_slide-1" class="calendar_slide cal_slid1">
            
        </div>
        <div id="calendar_slide0" class="calendar_slide">
            
        </div>
        <div id="calendar_slide1" class="calendar_slide cal_slid2">
            
        </div>
    </div>
</div>


<div class="input_container" style="display:none;" id="input_container">
    <div class="input_vacation_frame">

    </div>
</div>

{% endblock %}