{% extends "YOKO_Clinics/layout.html" %}

{% block title %}Vacations{% endblock %}

{% block body %}

<div id="calendar_container" class="calendar_container">
    <div class="calendar-month" id="calendar-month">
        <div id="calendar_slide-1" class="calendar_slide cal_slid1">
            
        </div>
        <div id="calendar_slide0" class="calendar_slide">
            
        </div>
        <div id="calendar_slide1" class="calendar_slide cal_slid2">
            
        </div>
    </div>
</div>


<div class="input_container" style="display:none;" id="input_container">
    <div class="input_vacation_frame">
        <form class="vertical_align">
            <h4 style="margin-bottom:2rem;">Select your new working times for each of the selected days.</h4>
            <div class="banana1">
                <div class="form-group1">
                    <input type="time" id="start_time" name="start_time" class="form-control" tabindex="-1">
                    <img src="../static/YOKO_Clinics/right-arrow.png" style="width:2rem; margin-right:0.5rem;margin-left:0.5rem;opacity:0.75;" id="arrow1">
                    <input type="time" id="end_time" name="end_time" class="form-control" tabindex="-1">
                </div>
                <div style="margin-left: 1rem;">
                    <label class="checkbox-container1">Vacation
                        <input type="checkbox" id="is_vacation" name="is_vacation" autocomplete="off">
                        <span class="checkmark1"></span>
                    </label>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Set Schedule" id="submit" style="margin-bottom:0.5rem;height:3rem;margin-top: 2.6rem;width:8rem;">
        </form>
    </div>
</div>

{% endblock %}