:root {
    --shadow-color: 0deg 0% 20%;
    --shadow-elevation-low:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.35),
      0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.35),
      0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.35);
    --shadow-elevation-medium:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.37),
      0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.37),
      0px 8.3px 9.3px -1.7px hsl(var(--shadow-color) / 0.37),
      0px 20.2px 22.7px -2.5px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-high:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
      0px 5.9px 6.6px -0.4px hsl(var(--shadow-color) / 0.34),
      0px 11.1px 12.5px -0.7px hsl(var(--shadow-color) / 0.34),
      0px 18.2px 20.5px -1.1px hsl(var(--shadow-color) / 0.34),
      0px 29.1px 32.7px -1.4px hsl(var(--shadow-color) / 0.34),
      0px 45.5px 51.2px -1.8px hsl(var(--shadow-color) / 0.34),
      0.1px 69.2px 77.9px -2.1px hsl(var(--shadow-color) / 0.34),
      0.1px 102px 114.8px -2.5px hsl(var(--shadow-color) / 0.34);

      --shadow-color1: 0deg 0% 63%;
      --shadow-elevation-medium1:
        0px 0.3px 0.3px hsl(var(--shadow-color1) / 0.36),
        0px 0.9px 1px -0.8px hsl(var(--shadow-color1) / 0.36),
        0.1px 2.2px 2.5px -1.7px hsl(var(--shadow-color1) / 0.36),
        0.1px 5.5px 6.2px -2.5px hsl(var(--shadow-color1) / 0.36);
  }


  :root[data-theme="light"] {
    --text: #150f1a;
    --nav_text: rgb(127.5,127.5,127.5);
    --background: #ffffff;
    --primary: #d8bde6;
    --secondary: #ece5f0;
    --accent: #8e66a3;
    --disabled: #d5c7da;
    --hover: #bb96cd;
    --days: #e6b7cf;
    --days_hover: #d4a7bd;
    --alert_success_background: #d4edda;
    --alert_success_text: #155724;
    --alert_success_border: #c3e6cb;
    --alert_danger_background: #f8d7da;
    --alert_danger_text: #721c24;
    --alert_danger_border: #f5c6cb;
    --disabled_day: #dfd1e6;
    --selected_day: #bfa2cd;
    --hovered_day: #cdaddc;
    --alert_warning_background: #fff3cd;
    --alert_warning_text: #8e6e13;
    --alert_warning_border: #8e6e13;
  }
  :root[data-theme="dark"] {
    --text: #ebe5f0;
    --background: #000000;
    --nav_text: rgb(200,200,200);
    --primary: #4f375c;
    --secondary: #160f1a;
    --accent: #845c99;
    --disabled: #302237;
    --hover: #3c2945;
    --days: #8f4ca4;
    --days_hover: #783e89;
    --alert_success_background: rgb(33, 79, 44);
    --alert_success_text: rgb(153, 230, 171);
    --alert_success_border: rgb(41, 97, 54);
    --alert_danger_background: #721c24;
    --alert_danger_text: #f9cfd3;
    --alert_danger_border: #60161e;
    --disabled_day: #55495c;
    --selected_day: #3e2949;
    --hovered_day: #4b3259;
    --alert_warning_background: #664b00;
    --alert_warning_text: #e6d299;
    --alert_warning_border: #e6d299;
  }
  

@font-face {
    font-family: "Poppins";
    src: url("./Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins_Bold";
    src: url("./Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins_Italic";
    src: url("./Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "Poppins_BoldItalic";
    src: url("./Poppins/Poppins-SemiBoldItalic.ttf");
}


body {
    background-color: var(--background);
    color: var(--text);
    overflow-y: hidden;
    height: 100%;
}

body * {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins_Bold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,button,select,textarea{
    background-color: var(--primary) !important;
    color: var(--text) !important;
    border-color: var(--background) !important;
}

select:disabled,input:disabled{
    background-color: var(--disabled) !important;
}

button:hover,input[type="submit"]:hover,input[type="button"]:hover{
    background-color: var(--hover) !important;
}

label{
    margin:10px;
}

.number_thing{
    background-color: grey;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    color:white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition: background-color 600000s 0s, color 600000s 0s;}
input[data-autocompleted] {background-color: transparent !important;}


input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 0.9375em;
    font-weight: 550;
    text-transform: uppercase;
    margin-right: 2%;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    top: -9000px;
    left: -9000px;
}

input[type="checkbox"].toggle+label:hover {
    color: #b2b8bf;
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 10em;
    height: 3.25em;
    border-radius: 2.5em;
    background-color: #b2b8bf;
    margin-right: -100.75em;
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75em;
    background-color: #66d174;
    transition: 200ms ease-in-out;
    background-image: url('examination.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(6rem);
    background-color: #48acea;
    background-image: url('doctor.png');
}


.log_frame{
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    background-color: var(--secondary);
    padding: 30px;
    width:30%;
    margin: auto;
    margin-top:5rem;
    margin-bottom:5rem;
    box-shadow: var(--shadow-elevation-medium);
}


.form-group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}


nav{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    height: 9dvh;
    background-color: var(--secondary);
    color: var(--nav_text) !important;
    box-shadow: var(--shadow-elevation-medium1);
    z-index: 10;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--nav_text) !important;
}

.image_cont{
    height:100dvh;
    width:100dvw;
    position:absolute;
    z-index: -2;
    top:0;
    overflow: hidden;
}

.country_city{
    display:flex;
    flex-direction: row;
}

.hidden-doc {
    opacity: 0;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.visible-doc {
    opacity: 1;
    max-height: 1000px;
    height: auto;
    transition: max-height 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


/* Checkbox */

.days_checker {
    display: none;
    visibility: hidden;
}


/* Toggle Control */

.toggle-control {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    background: #eaebef;
    width: 14.2857%;
    color: #000000;
    padding: .5rem .5rem;
    border-radius: 2px;
    border: 1px solid var(--disabled);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.toggle-control:hover{
    background: rgb(204,205,209);
}

.days_checker:checked + .toggle-control {
    background-color: var(--days);
    color:var(--text);
}


.days_checker:checked + .toggle-control:hover {
    background-color: var(--days_hover);
}
.form-group2{
    justify-content: center;
    align-items: center;
}

.lil_dot{
    width:1rem;
}

.page_1{
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    height:auto;
    max-height: 1000px;
    transition: 0.75s;
}

.slid1{
    left: -1000px;
    height: auto;
    max-height: 0;
    max-width: 0;
    width: auto;
    transition: 0.75s;
}

.page_2{
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    height:auto;
    max-height: 1000px;
    transition: 0.75s;
}

.slid2{
    left: 1000px;
    height: auto;
    max-height: 0;
    max-width: 0;
    width: auto;
    transition: 0.75s;
}

.form-group-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.sub_checker {
    display: none;
    visibility: hidden;
}


/* Toggle Control */

.toggle-control1 {
    position: relative;
    float: left;
    margin: 0.5rem 2rem 0.5rem 0rem;
    background: #edeaef;
    color: #000000;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--disabled);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.toggle-control1:hover{
    background: rgb(207, 204, 209);
}

.sub_checker:checked + .toggle-control1 {
    background-color: var(--days);
    color:var(--text);
}


.sub_checker:checked + .toggle-control1:hover {
    background-color: var(--days_hover);
}

.profile_frame{
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    background-color: var(--secondary);
    padding: 3rem;
    padding-top:2rem;
    width:70%;
    margin: auto;
    margin-top:5rem;
    margin-bottom:5rem;
    box-shadow: var(--shadow-elevation-medium);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


input[type="checkbox"].toggle1+label {
    /*visible label*/
    font-size: 0.75em;
    font-weight: 550;
    text-transform: uppercase;
    margin-right: 2%;
    padding: 0.4% 0.5%;
    border-radius: 5px;
    /* background-color: rgb(239, 239, 239); */

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle1 {
    opacity: 0;
    position: absolute;
    top: -9000px;
    left: -9000px;
}

input[type="checkbox"].toggle1+label:hover {
    color: rgb(117, 117, 117);
}

input[type="checkbox"].toggle1+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    margin-right: 0.25em;
}

input[type="checkbox"].toggle1+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #ffffff;
    transition: 200ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    background-image: url('brightness.png');
}

input[type="checkbox"].toggle1:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #000000;
    border: #c7c7d1 solid 1px;
    background-image: url('night-mode.png');
}

.rating {
    font-size: 1.5rem;
    color: orange;
    display: inline-block;
    overflow: hidden;
}
.rating::before { 
    content: "★★★★★" 
}

.toggle-control2 {
    position: relative;
    float: left;
    margin: 0.5rem 2rem 0.5rem 0rem;
    background: var(--days);
    color: var(--text);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--disabled);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.toggle-control3 {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    background: var(--days);
    width: 14.2857%;
    color: var(--text);
    padding: .5rem .5rem;
    border-radius: 2px;
    border: 1px solid var(--disabled);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.toggle-control4 {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    background: #8f9097;
    width: 14.2857%;
    color: #ffffff;
    padding: .5rem .5rem;
    border-radius: 2px;
    border: 1px solid var(--disabled);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.norm_btn{
    margin-right:auto;
    margin-left:auto;
    height:3rem;
    width:8rem;
}

.normal_p{
    margin:0;
}

.alert-success{
    color: var(--alert_success_text);
    border-color: var(--alert_success_border);
    background-color: var(--alert_success_background);
}

.search_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-group-wrap1 {
    flex-basis: 100%;
}

.country_city1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-elements-container1 {
    display: flex;
    flex-wrap: wrap;
}

.submit_container{
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    position: absolute;
    top: 103%;
}

.search_form{
    position: relative;
}

.star_checker {
    display: none;
    visibility: hidden;
}

.lil_star{
    font-size: 24px;
    margin:0;
    cursor: pointer;
    user-select: none;
}

.lil_star_hover{
    color: gray;
}

.star_checker:checked + .lil_star {
    color:orange;
}


.star_checker:checked + .lil_star_hover {
    color: rgb(186, 124, 10);
}

.no_wrap{
    white-space: nowrap;
    margin-left: 0.5rem;
    margin-bottom: 0;
    background-color: var(--primary) !important;
    border: 1px solid var(--background);
    border-radius: 0.25rem;
    padding: 0rem 0.3rem;
}

.no_link {
    text-decoration: none;
    color: inherit;
}

.no_link:hover {
    color: inherit;
    text-decoration: none;
}

.pagination{
    display:flex;
    flex-direction: row;
}

.left_links{

    margin: 10px;
}

.right_links{
    
    margin: 10px;
    margin-left: auto;
    
}

.alert-danger {
    color: var(--alert_danger_text);
    background-color: var(--alert_danger_background);
    border-color: var(--alert_danger_border);
}

.mini_profile_div {
    display: grid;
    grid-template-columns: 80% 20%;
}

.pfp_and_rating{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.pfp_and_rating img {
    width: 100%;
}

.address_div * {
    font-family: "Poppins_Italic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cls-1 {
    fill: var(--background);
}

.svg_container{
    position: absolute;
    right: -1.75rem;
    bottom: -0.5rem;
    left: -1.75rem;
    transform: scaleY(5dvh);
}

.main_specialty {
    margin: 0;
    z-index: 10;
    position: relative;
    text-align: center;
}

.specialty-container {
    bottom: 2.5rem;
    position: absolute;
    z-index: 1;
}

.main_specialty_container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.toggle-control5 {
    /* position: relative; */
    float: left;
    margin: 0.5rem 0.5rem;
    width: 3.4rem;
    background: #83768a;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--disabled);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    justify-content: center;
    text-align: center;
}

.toggle-control6 {
    position: relative;
    float: left;
    margin: 0.5rem 0.5rem;
    background: var(--days);
    color: var(--text);
    width: 3.4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--disabled);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    justify-content: center;
}

.back{
    display:flex;
    align-items: center;
    left:-2.25rem;
    position: relative;
    margin-bottom: 1rem;
}

.backp{
    margin: 0 !important;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "Poppins_Bold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.margin_search{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.calendar_container{
    justify-content: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5rem;
    margin-bottom:5rem;
}

  
  .calendar-month {
    position: relative;
    overflow: hidden;
    border: solid 1px var(--accent);
    background-color: var(--accent);
    height: 78dvh;
    border-radius: 1rem;
  }
  

  /* Month indicator and selectors positioning */
  .calendar-month-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 10px;
    height: 7dvh;
  }
  
  /* Month indicator */
  .calendar-month-header-selected-month {
    font-size: 24px;
    font-weight: 600;
  }
  
  /* Month selectors positioning */
  .calendar-month-header-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
  }
  
  .calendar-month-header-selectors > * {
    cursor: pointer;
  }
  
  .day-of-week {
    font-size: 18px;
    background-color: var(--primary);
    padding-bottom: 5px;
    padding-top: 10px;
    height: 5dvh;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .day-of-week,
  .days-grid {
    /* 7 equal columns for weekdays and days cells */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day-of-week > * {
    /* Position the weekday label within the cell */
    text-align: right;
    padding-right: 5px;
  }
  
  .days-grid {
    height: 100%;
    position: relative;
    border-top: solid 1px var(--accent);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }
  
  .calendar-day {
    position: relative;
    min-height: 11dvh;
    background-color: var(--primary);
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  /* Position the day label within the day cell */
  .calendar-day > span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5rem;
  }

  .calendar-day:hover{
    background-color: var(--hovered_day);
  }
  .disabled_day:hover{
    background-color: var(--disabled_day) !important;
  }
  .selected_day:hover{
    background-color: var(--selected_day) !important;
  }


  .disabled_day{
    background-color: var(--disabled_day);
    cursor: auto;
  }

  .past_day{
    background-color: var(--primary);
    cursor: auto;
  }

  .past_day:hover{
    background-color: var(--primary);
    cursor: auto;
  }

  .selected_day{
    background-color: var(--selected_day);
  }

  .calendar_slide{
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    height:auto;
    max-height: 1000px;
    transition: 0.75s;
  }

  .cal_slid1{
    left: -83dvw;
    height: auto;
    max-height: 0;
    max-width: 0;
    width: auto;
    transition: 0.75s;
}

.cal_slid2{
    left: 83dvw;
    height: auto;
    max-height: 0;
    max-width: 0;
    width: auto;
    transition: 0.75s;
}

.number_thing1{
    background-color: grey;
    border-radius:1rem;
    color:white;
}

.input_container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_vacation_frame{
    border-radius: 0.5rem;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    background-color: var(--secondary);
    padding: 3rem;
    padding-top:2rem;
    width:40%;
    margin: auto;
    box-shadow: var(--shadow-elevation-medium);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.checkbox-container1 {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .checkbox-container1 input {
    display: none;
  }

  .checkbox-container1 input:disabled + .checkmark1 {
    cursor: auto;
  }

  .checkbox-container1 input:disabled:checked + .checkmark1 {
    background-color: var(--disabled);
    border: 1px solid var(--disabled);
  }

  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox-container1 input:checked + .checkmark1 {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }

  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container1 input:checked + .checkmark1:after {
    display: block;
  }

  .checkbox-container1 .checkmark1:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.banana1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical_align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day_off{
    filter: hue-rotate(30deg);
}

.altered{
    filter: hue-rotate(-120deg) !important;
}

.day_off_new{
    filter: hue-rotate(-60deg) !important;
}

.error_div{
    width:100%;
}

.color_keys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color_key{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.key_color{
    background-color: var(--primary);
    border-radius: 1rem;
    min-width: 1.5rem;
    margin-right: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.main_body{
    overflow-y: auto;
    min-height: 91dvh;
}

.scroll {
    overflow-y: auto;
    height: 0;
}
.scroll::-webkit-scrollbar {
    width: 0.5rem;
}
.scroll::-webkit-scrollbar-track {
    background-color: var(--secondary);
    border-radius: 2rem;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border: 0.5rem solid var(--primary);
    border-radius: 2rem;
}


.day_off1{
    filter: hue-rotate(-60deg) !important;
}

.alert-warning{
    color: var(--alert_warning_text);
    border-color: var(--alert_warning_border);
    background-color: var(--alert_warning_background);
}

.sorting_div{
    box-shadow: var(--shadow-elevation-medium1);
    display:flex;
    flex-direction: row;
    margin-top:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.booking_frame{
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    background-color: var(--secondary);
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width:70%;
    margin: auto;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    box-shadow: var(--shadow-elevation-medium);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.booking_data{
    margin-right: 2rem;
}

.booking_btns{
    margin-top: auto;
    margin-left: auto;
}